@media all {
    body {
        margin: 0;
        font-family: 'Montserrat', sans-serif;
        background-image: url(../Styling/Assets/eKiosk\ background.jpg);
    }
    
    .container {
        margin: 10%;
        color: white;
    }

    .blurb {
      font-weight: bolder;
      font-size: 2.5em;
    }

    .slogan {
      font-weight: bold;
    }
    
    .payment_option {
      width: 3em;
    }

    .payment_radio {
      opacity: 0;
    }
    
    [type=radio]:checked + img {
      outline: 2px solid #f00;
    }

    .payment_option_image {
      object-fit: contain;
      width: 100%;
    }

    .header {
        background-color: white;
        color: red;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 1000;
    }
    
    .logo {
        font-size: 2.5em;
        font-weight: bold;
    }

    .logo-image {
      width: 6em;
    }
    
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .button {
        max-width: 300px;
        margin: 10px;
        padding: 15px;
        font-size: 18px;
        background-color: lightgray;
        border: none;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        border-radius: 12px;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }

    .button:hover {
      background-color: lightblue;
    }

    .topup-btn {
      background-color: red;
      border-radius: 30px;
      color: white;
    }
    
    .footer {
        background-color: white;
        color: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    
    .nav-links {
        display: flex;
        margin-right: 5%;
        margin-left: 5%;
        gap: 20px;
        color: white;
    }
    
    
    .footer-links {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        gap: 20px;
    }
    
    .footer-link:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
      }
      
      .footer-link:visited {
        color: lightgray;
        background-color: transparent;
        text-decoration: none;
      }
      
      .footer-link:hover {
        color: lightgray;
        background-color: transparent;
        text-decoration: underline;
      }
      
      .footer-link:active {
        color: lightblue;
        background-color: transparent;
        text-decoration: underline;
      }
    
      .btn {
        color: black;
        text-decoration: none;
        text-align: center;
        padding: 1.5em;
        font-size: 1.5em;
        margin: 2.5em;
      }
    
      .btn:hover {
        background-color: lightblue;
      }
    
      .payment-form {
        margin-top: 100px;
        background-color: lightblue;
        padding: 20px;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        color: gray;
      }
    
      .input-group {
        margin-bottom: 15px;
      }
    
      .input-label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
      }
    
      .input-field {
        width: 95%;
        padding: 10px;
        border: 1px solid gray;
        border-radius: 5px;
      }
    
      .pay-btn {
        background-color: red; 
        color: white;
      }
    
      .pay-btn:hover {
        background-color: lightcoral;
      }
    
      .header-link {
        color: red;
        font-weight: bold;
        text-decoration: none;
        background-color: white;
        border: 2px solid red;
        border-radius: 30px;
        padding: 0.5em;
        margin: 1em;
      }
    
      .header-link:hover
      {
        color: lightcoral;
        border: 3px solid lightcoral;
        border-radius: 30px;
      }

      .header-table
      {
        width: 100%;
      }

      .header-table-cell
      {
        text-align: right;
      }
    
  }